<script lang="ts">
  // import { JsonLdProcessor } from 'jsonld'
  import keyBy from 'lodash-es/keyBy.js'; // workaround <https://github.com/sveltejs/kit/issues/1549#issuecomment-849736405>
  import mapValues from 'lodash-es/mapValues.js'; // workaround <https://github.com/sveltejs/kit/issues/1549#issuecomment-849736405>
	import { clickOutside } from '$lib/util/clickOutside.ts';
	import { fade } from 'svelte/transition';

  // Props
	export let term;
  export let selected = false;

  function handleClickOutside(event: Event) {
    selected = false
  }

  function getDataUrl(term) {
    if (term.match(/^https:\/\/id\.nb\.no/)) {
		  return `https://www.nb.no/nbvok/rest/v1/data?format=application/json&uri=${encodeURIComponent(term)}`;
    }
    return `https://vokabular.bs.no/rest/v1/data?format=application/json&uri=${encodeURIComponent(term)}`;
  }

  async function fetchData(term) {
		const res = await fetch(getDataUrl(term));
    if (res.status === 404) {
      throw new Error("Ukjent sjanger");
    }
    const data = await res.json();

    const concepts = keyBy(
      data.graph.map(concept => {
        concept.prefLabel = mapValues(keyBy(concept.prefLabel, 'lang'), 'value');
        return concept;
      }),
      'uri'
    );

    // await JsonLdProcessor.compact(data)

    return {
      concepts: concepts,
      concept: concepts[term],
    };
  }
</script>

<style lang="sass">
  .concept
    position: relative

    button
      background: #ccffcc
      padding: 0 5px
      border-radius: 3px

      &.selected
        background: #ffff00

    .popup
      position: absolute
      background: #fff
      border-radius: 3px
      padding: 20px 30px
      left: 10px
      top: 22px
      box-shadow: 1px 1px 3px #555
      font-size: 80%
      width: 600px

      .grid
        display: grid
        grid-template-columns: 120px 1fr
</style>

<span class="concept" use:clickOutside on:click-outside={handleClickOutside} transition:fade>
  {#await fetchData(term)}
    <button class:selected class="hidden">
      ···
    </button>
  {:then data}
    <button on:click="{() => selected = !selected}" class:selected>
      «{data.concept.prefLabel.nb}» (sjanger)
    </button>
    <div class="popup" class:hidden={!selected}>
      {#if data.concept['skos:definition']}
        <div>{data.concept['skos:definition'].value}</div>
      {/if}
      <div class="pt-3">
        <a href={data.concept.uri} target="_blank" class="text-blue-600 hover:underline">{data.concept.uri}</a>
      </div>
    </div>
  {:catch error}
    <span class="text-red-600">{error.message}</span>
  {/await}
</span>
