<script lang="ts">
	import { fade } from 'svelte/transition';

  // Props
	export let term;
  export let selected = false;

</script>

<style lang="sass">
  .concept
    position: relative

    button
      background: #ccffcc
      padding: 0 5px
      border-radius: 3px

      &.selected
        background: #ffff00

</style>

<span class="concept" transition:fade>
  <button on:click="{() => selected = !selected}" class:selected>
    fullkatalogiserte poster
  </button>
</span>
