<script lang="ts">
	import Header from '$lib/header/Header.svelte';
	// import "../app.postcss";
  import { setupI18n } from '$lib/services/i18n';

  setupI18n({ withLocale: 'nb' });

</script>

<Header />

<slot></slot>

<style global lang="postcss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    overflow-y: scroll;
  }
</style>
