<script context="module" lang="ts">
	import type { Load } from '@sveltejs/kit';
  import { apiEndpoint } from "$lib/util/config";

  /**
	 * @type {import('@sveltejs/kit').Load}
	 */
  export const load: Load = async({ page, fetch, session, context }) => {
    const searchParams = new URLSearchParams({
      query: `rec.identifier=${page.params.id}`,
    });
		const url = `${apiEndpoint}/publications/v1/?${searchParams.toString()}`;
		const res = await fetch(url);

		if (res.ok) {
      const data = await res.json();
      if (data.records.length === 1) {
        return {
          props: {
            publication: data.records[0],
          },
        };
      }
      return {
        error: new Error(`Publication not found`),
      };
    }
		return {
			error: new Error(`Could not load ${url}`),
		};
	}
</script>

<script lang="ts">
  import PublicationCard from '$lib/PublicationCard.svelte';
  import type { Publication } from '$lib/types';
  export let publication: Publication;
</script>

<div class="px-3 py-3 flex items-center bg-gray-100">
  <a href="./" class="text-blue-500 hover:underline">Tilbake</a>
</div>

<div class="max-w-md mx-auto bg-white overflow-hidden md:max-w-2xl">
  <PublicationCard publication={publication}/>
</div>

