<script context="module" lang="ts">
	import type { Load } from '@sveltejs/kit';
  import { SearchQuery } from "$lib/search/SearchQuery";
  import { apiEndpoint } from "$lib/util/config";

  async function search(query: SearchQuery) {
    const url = `${apiEndpoint}/publications/v1/?query=${query.toString()}&sort=${query.sort}&limit=${query.limit}`;
    console.log('>>', url);
	  const res = await fetch(url);
		if (res.ok) {
      const data = await res.json();
      console.log('>>> Data ok', data);
      return data.records;
    }
		throw new Error(`Could not load ${url}`);
  }

  /**
	 * @type {import('@sveltejs/kit').Load}
	 */
  export const load: Load = async({ page, fetch, session, context }) => {
    console.log('PRELOAD', page.query);
    return {
      props: {
        query: await SearchQuery.fromParams(page.query),
      },
    };
	}
</script>

<script lang="ts">
	import { fade } from 'svelte/transition';
  import PublicationCard from '$lib/PublicationCard.svelte';
  import SearchBar from '$lib/search/SearchBar.svelte';
  export let query: SearchQuery;
</script>

<div>
  <SearchBar query={query}/>
  {#await search(query)}
    <div class="m3 p-3">&nbsp;</div>
  {:then publications}
    <div class="grid grid-cols-3 gap-4" transition:fade={{duration: 200}}>
      {#each publications as publication, i}
        <PublicationCard publication={publication} link={true}/>
      {/each}
    </div>
  {:catch error}
    <div class="bg-red-800 text-white m-3 p-3 rounded">
      {error}
    </div>
  {/await}
</div>
