<script lang="ts">
  import { goto } from '$app/navigation';
  import { SearchQuery } from "$lib/search/SearchQuery";

  // Props
  export let query: SearchQuery;

  async function loadComponents(query) {
    console.log('>> loadComponents', query.clauses)
    return Promise.all(
      query.clauses.map(
        async clause => ({
          clause,
          component: (await import(`./term/${clause.componentName}.svelte`)).default,
        })
      )
    );
  }
</script>

<div class="px-3 py-3 flex items-center bg-gray-100">
  <div class="flex-1">
    {#await loadComponents(query)}
      &nbsp;
    {:then components}
      {#if components.length === 0}
        {query.description}
      {/if}
      {#each components as component}
        <svelte:component
          this={component.component}
          term={component.clause.term}
        />
      {/each}
    {/await}
    <button on:click="{() => goto('./')}" class="bg-red-100 px-3 roundedz">Clear</button>
  </div>
  <code class="text-green-600 text-xs justify-self-end">Query: {query.toString()}</code>
</div>
