<script lang="ts">
  import { fade } from 'svelte/transition';
  import type { Publication } from '$lib/types';
  import { _ } from '$lib/services/i18n';

  // Props
  export let publication: Publication;
  export let link: boolean;
</script>

<div class="shadow-md" transition:fade>
  <div class="md:flex">
    <div class="md:flex-shrink-0 pl-4 py-8">
      <img class="h-48 bg-gray-100"
           src={publication.image?.thumbnailUrl ? publication.image?.thumbnailUrl : 'cover-missing.png'}
           alt="Front cover">
    </div>
    <div class="py-8 px-4">
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{publication.publisher} {publication.datePublished}</div>
      {#if link}
        <a href={'/utgivelser/' + publication.identifier} class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{publication.name}</a>
      {:else}
        <div class="block mt-1 text-lg leading-tight font-medium text-black">{publication.name}</div>
      {/if}

      <div class="text-gray-400 text-xs font-mono my-1">
        {#if publication.bookFormat}
          {$_(`format.${publication.bookFormat}`)}
        {:else}
          {$_(`format.${publication['@type']}`)}
        {/if}
        |
        {#if publication.isbn}
          ISBN {publication.isbn}
        {:else}
          GTIN {publication.gtin13}
        {/if}
      </div>

      {#if publication.abstract}
        <p class="mt-2 text-gray-600">{publication.abstract}</p>
      {:else}
        <p class="mt-2 text-gray-400">{'(Mangler sammendrag 😭)'}</p>
      {/if}


      {#each publication.genre as concept}
        <a href={'/utgivelser/?q=genre:' + concept.id} class="inline-block mr-1 my-2 text-sm leading-tight bg-green-600 px-2 py-0.5 rounded font-medium text-white hover:bg-green-700 active:bg-green-800">{concept.name.nob}</a>
      {/each}

      {#each publication.subject as concept}
        <a href={'/utgivelser/?q=subject:' + concept.id} class="inline-block mr-1 my-2 text-sm leading-tight bg-blue-600 px-2 py-0.5 rounded font-medium text-white hover:bg-blue-700 active:bg-blue-800">{concept.name.nob}</a>
      {/each}

    </div>
  </div>
</div>
